
.verifitysignup {
  display: flex;
  flex-direction: column;
  // min-width: 700px;
  max-width: 700px;
  width: 100%;
  flex-grow: 1;
  border-radius: 3px 3px 0 0;
  background-color: #fff;

  &__head {
    color: white;
    display: flex;
    justify-content: space-between;
    height: 94px;
    background-color: #03a9f4;
    height: auto;
  }

  &__title {
    margin: 5px;
    font-weight: 300;
    color: #fefefe;
    align-self: flex-end;
    font-family: Roboto;
  }

  &__img {
    height: 80px;
    margin: 5px;
  }

  &__body {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    padding-bottom: 30px;
    
  }

  &__description {
    text-align: center;
    margin: 31px 30px 20px 30px;
    font-family: Roboto;
    font-weight: 700;
  }

  &__form-btn {
    height: 19px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: normal;
    width: 145px;
    height: 40px;
    border-radius: 20px;
    background-color: #03a9f4;
    margin-top: 25px;
   
  }

  &__progress {
   
    background-color: #dee3e6;
    max-width: 400px;
    width: 100%;
    margin-top: 50px;
  }

  &__progress-rate {
    background-color: #03a9f4;
    display: block;
    height: 2px;
    width: 0%;
    margin-bottom: -5px;
  }

  &__progressbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 5px;
  }

  &__step {
    margin-top: -7px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    background-color: #dee3e6;
    &::before {
      content: "Verify";
      position: absolute;
      top: -20px;
      font-size: 12px;
      color: #03a9f4;
      left: -8px;
    }
  }
}
