<footer class="footer">
    <div class="footer__row">
        <ul class="footer__column">
            <li class="footer__column-item">Home</li>
            <li class="footer__column-item">Pricing</li>
            <li class="footer__column-item">FAQS</li>
        </ul>
        <ul class="footer__column">
            <li class="footer__column-item">Privacy policy</li>
            <li class="footer__column-item">When should I post ?</li>
            <li class="footer__column-item">`Terms \& Conditions`</li>
        </ul>
    </div>
    <div class="footer__row">
        <div class="footer__copuright"></div>
        <div class="footer__uploved"></div>
        <div class="footer__links">
            <h6 class="footer__link-title"></h6>
            <a href="" class="footer__link"><img src={SwitterIMG} alt="" class="footer__icon"/></a>
            <a href="" class="footer__link"><img src={RedditIMG} alt="" class="footer__icon"/></a>
            <a href="" class="footer__link"><img src={InternetIMG} alt="" class="footer__icon"/></a>
        </div>
    </div>
    
</footer>